<script type="application/ld+json">{
  "@context": "http://schema.org",
  "@type": "WebSite",
  "name": "{{ site.title }}",
  "url": "{{ site.url }}",
  "description": "{{ site.description }}"
}</script>
<script type="application/ld+json">{
  "@context": "http://schema.org",
  "@type": "Person",
  "url": "{{ site.url }}",
  "sameAs": [
    "https://twitter.com/{{ site.twitter_username }}",
    "https://github.com/{{ site.github_username }}",
    "https://medium.com/@{{ site.medium_username }}",
    "https://dribbble.com/{{ site.dribbble_username }}"
  ],
  "name":"{{ site.author }}"
}</script>