<script src="/js/main.min.js"></script>

{% if site.environment == 'dev' %}
  <script src="http://localhost:35729/livereload.js" async defer></script>
{% endif %}

<script type="text/javascript">
  var pageTitle = "{{ page.title }}";
  var siteTitle = "{{ site.title }}";
</script>

<script src="https://identity.netlify.com/v1/netlify-identity-widget.js" async defer></script>

{% if site.environment == 'production' %}
  <script>
    (function(n,ig,h,t,i,ng,a,le){n[i]=n[i]||function(){(n[i].q=n[i].q||[])
      .push(arguments)},n[i].t=1*new Date(),n[i].i=ng;a=ig.createElement(h),
      le=ig.getElementsByTagName(h)[0];a.async=1;a.src=t;
      le.parentNode.insertBefore(a,le)
    })(window,document,'script','https://nightingale.molovo.co/client.js','ntgl','96Eui82q')

    if ('serviceWorker' in navigator) {
      navigator.serviceWorker
        .register('/sw.js')
        .then(() => console.log("Service Worker Registered"))
    }
  </script>
{% endif %}
