{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": ["last 2 versions", "not ie <= 10", "not android <= 52"]
        },
        "useBuiltins": true,
        "debug": true
      }
    ],
    "stage-2"
  ],
  "plugins": [
    "transform-class-properties",
    "transform-object-rest-spread",
    "transform-decorators-legacy"
  ]
}