---
layout: base
slug: home
title: Web Design and Development in Southsea, Hampshire
description: James Dinsdale is a designer and developer from Southsea, Hampshire, building immersive, interactive experiences on the web. Let's build something together.
---

<section class="homepage-section intro">
  <h1 class="intro__heading">Hi, I'm James.<br />I make websites.</h1>

  <p>I'm currently leading the talented development team at <a href="https://superrb.com" target="_blank">Superrb Studio</a>, where I build awesome websites and interactive experiences like these</p>

  <ul class="homepage-section__list">
    {% assign studies = site.studies | where: "featured", "true" | sort: 'order' | limit: 3 %}
    {% for study in studies %}
      <li class="homepage-section__item">
        <h5 class="homepage-section__title">
          <a class="homepage-section__link"
            href="{{ study.url }}"
            title="{{ study.client }}">
            {{ study.client }}
          </a>
        </h5>

        <p class="homepage-section__description">{{ study.description }}</p>
      </li>
    {% endfor %}

    <li class="homepage-section__item">
      <a href="/studies/" class="button">View more case studies</a>
    </li>
  </ul>
</section>

<section class="homepage-section">
  <h3 class="homepage-section__heading">I build open source software<br />for fun and for profit.</h3>

  <p>Here are a few projects you might find useful</p>

  <ul class="homepage-section__list">
    {% assign projects = site.data.projects | where: "featured", "true" | limit: 3 %}
    {% for project in projects %}
      <li class="homepage-section__item">
        <h5 class="homepage-section__title">
          <a class="homepage-section__link"
            href="{{ project.url }}"
            title="{{ project.title }}">
            {{ project.title }}
          </a>
        </h5>

        <p class="homepage-section__description">{{ project.description }}</p>
      </li>
    {% endfor %}

    <li class="homepage-section__item">
      <a href="/projects/" class="button">View more projects</a>
    </li>
  </ul>
</section>

<section class="homepage-section">
  <h3 class="homepage-section__heading">I write about design,<br />development, and the web.</h3>

  <p>Here are a few of my favourite articles</p>

  <ul class="homepage-section__list">
    {% assign posts = site.categories.featured | sort: 'featured_order' | limit: 3 %}
    {% for post in posts %}
      <li class="homepage-section__item">
        <h5 class="homepage-section__title">
          <a class="homepage-section__link"
            href="{{ post.url }}"
            title="{{ post.title }}">
            {{ post.title }}
          </a>
        </h5>

        <p class="homepage-section__description">{{ post.description }}</p>
      </li>
    {% endfor %}

    <li class="homepage-section__item">
      <a href="/writing/" class="button">Read more articles</a>
    </li>
  </ul>
</section>