---
title: Open source
description: A list of the Open Source projects I have written and maintain
layout: page
---

<section class="projects">
  <div class="project-highlights">
    <div class="project-highlights__column project-highlights__column--left">
      <h1>Open source</h1>
      <p>A selection of my best open source<br />and public domain work.</p>
      <p>
        <a href="//github.com/molovo"
           rel="noopener"
           target="_blank"
           class="button">View Github profile</a>
      </p>
    </div>

    <div class="project-highlights__column project-highlights__column--right">
      <ul class="project-highlights__list">
        <li class="project-highlights__item animate-on-scroll">
          <div class="project-highlights__image">
            <img src="https://avatars2.githubusercontent.com/u/18404033?v=4&s=300"
                 alt="The Zulu logo" />
          </div>

          <div class="project-highlights__content">
            <h3>Zulu</h3>
            <p>An environment and package manager for ZSH, with support for  managing themes, plugins, aliases, functions, environment variables and paths, as well as syncing between multiple computers out of the box.</p>
            <p><a href="//zulu.sh" class="button">Visit site</a></p>
          </div>
        </li>
        <li class="project-highlights__item animate-on-scroll">
          <div class="project-highlights__image">
            <img src="https://avatars0.githubusercontent.com/u/26382197?v=4&s=300"
                 alt="The ZUnit logo" />
          </div>

          <div class="project-highlights__content">
            <h3>ZUnit</h3>
            <p>A unit testing framework for ZSH.</p>
            <p><a href="//zunit.xyz" class="button">Visit site</a></p>
          </div>
        </li>
        <li class="project-highlights__item animate-on-scroll">
          <div class="project-highlights__image">
            <img src="https://avatars0.githubusercontent.com/u/2746289?v=4&s=300"
                 alt="James Dinsdale" />
          </div>

          <div class="project-highlights__content">
            <h3>Consumer</h3>
            <p>An ORM-like REST API consumer for JavaScript projects, linking API endpoints to models.</p>
            <p><a href="//github.com/molovo/consumer" class="button">View repository</a></p>
          </div>
        </li>
        <li class="project-highlights__item animate-on-scroll">
          <div class="project-highlights__image">
            <img src="https://avatars0.githubusercontent.com/u/741110?v=4&s=300"
                 alt="The Superrb Studio logo" />
          </div>

          <div class="project-highlights__content">
            <h3>Async</h3>
            <p>A simple PHP library for creating synchronous and asynchronous forked processes, and handling inter-process communication via sockets.</p>
            <p><a href="//github.com/superrbstudio/async" class="button">View repository</a></p>
          </div>
        </li>
        <li class="project-highlights__item animate-on-scroll">
          <div class="project-highlights__image">
            <img src="https://avatars0.githubusercontent.com/u/2746289?v=4&s=300"
                 alt="James Dinsdale" />
          </div>

          <div class="project-highlights__content">
            <h3>Tipz</h3>
            <p>A handy ZSH plugin which suggests aliases you have defined to help you remember them.</p>
            <p><a href="//github.com/molovo/consumer" class="button">View repository</a></p>
          </div>
        </li>
        <li class="project-highlights__item animate-on-scroll">
          <div class="project-highlights__image">
            <img src="https://avatars0.githubusercontent.com/u/2746289?v=4&s=300"
                 alt="James Dinsdale" />
          </div>

          <div class="project-highlights__content">
            <h3>zvm</h3>
            <p>A version manager for ZSH.</p>
            <p><a href="//github.com/molovo/zvm" class="button">View repository</a></p>
          </div>
        </li>
        <li class="project-highlights__item animate-on-scroll">
          <div class="project-highlights__image">
            <img src="https://avatars2.githubusercontent.com/u/17626128?v=4&s=300"
                 alt="The Phillip logo" />
          </div>

          <div class="project-highlights__content">
            <h3>Phillip</h3>
            <p>A simple unit testing framework with an API designed for readability. For smaller PHP projects.</p>
            <p><a href="//philliphq.github.io" class="button">Visit site</a></p>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <h2>Everything else</h2>

  <nav class="projects__filter">
    <span class="screenreader-text">Filter Projects</span>
    <ul>
      <li>
        <a href="javascript:void(0)" class="active" data-target="all">All</a>
      </li>
      <li>
        <a href="javascript:void(0)" data-target="Shell">ZSH</a></li>
      <li>
        <a href="javascript:void(0)" data-target="PHP">PHP</a></li>
      <li>
        <a href="javascript:void(0)" data-target="Crystal">Crystal</a></li>
      <li>
        <a href="javascript:void(0)" data-target="CoffeeScript">CoffeeScript</a>
      </li>
      <li>
        <a href="javascript:void(0)" data-target="JavaScript">JavaScript</a>
      </li>
    </ul>
  </nav>

  <nav class="projects__list">
    <ul>
      {% for project in site.data.projects %}
        <li class="projects__project animate-on-scroll"
            itemscope
            itemtype="http://schema.org/SoftwareSourceCode"
            aria-labelledby="{{ project.repo | slugify }}">
          <a href="https://github.com/{{ project.repo }}"
             data-repo="{{ project.repo }}"
             target="_blank"
             class="projects__link">
            <h4 id="{{ project.repo | slugify }}">
                <span itemprop="author"
                      itemscope
                      {% if project.org == 'true' %}
                        itemtype="http://schema.org/Organization"
                      {% else %}
                        itemtype="http://schema.org/Person"
                      {% endif %}>
                  <link itemprop="url" href="https://github.com/{{ project.repo | split: '/' | first }}">
                  <span itemprop="name"
                        data-owner>
                    {{ project.repo | split: '/' | first }}
                  </span>
                </span>
              <span>/</span>
              <span itemprop="name" data-name>
                {{ project.repo | split: '/' | last }}
              </span>
            </h4>
            <link itemprop="codeRepository" href="https://github.com/{{ project.repo }}" />

            <p itemprop="description" data-description>
              {{ project.description }}
            </p>

            <ul class="projects__meta">
              <li class="projects__meta--language">
                <span class="projects__icon">
                  {% include icons/dot.svg %}
                </span>
                <span class="screenreader-text">Language:</span>
                <span itemprop="programmingLanguage" data-language>
                  {{ project.language }}
                </span>
              </li>
              <li class="projects__meta--stars">
                <span class="projects__icon">
                  {% include icons/star.svg %}
                </span>
                <span class="screenreader-text">Stars:</span>
                <span data-stars>{{ project.stars }}</span>
              </li>
              <li class="projects__meta--forks">
                <span class="projects__icon">
                  {% include icons/fork.svg %}
                </span>
                <span class="screenreader-text">Forks:</span>
                <span data-forks>{{ project.forks }}</span>
              </li>
            </ul>
          </a>
        </li>
      {% endfor %}
    </ul>
  </nav>
</section>
