---
title: Projects
description: A list of the Open Source projects I have written and maintain
layout: page
---

<section class="projects">
  <h1>Projects</h1>

  <nav class="projects__filter">
    <span class="screenreader-text">Filter Projects</span>
    <ul>
      <li>
        <a href="javascript:void()" class="active" data-target="all">All</a>
      </li>
      <li>
        <a href="javascript:void()" data-target="Shell">ZSH</a></li>
      <li>
        <a href="javascript:void()" data-target="PHP">PHP</a></li>
      <li>
        <a href="javascript:void()" data-target="Crystal">Crystal</a></li>
      <li>
        <a href="javascript:void()" data-target="CoffeeScript">CoffeeScript</a>
      </li>
      <li>
        <a href="javascript:void()" data-target="JavaScript">JavaScript</a>
      </li>
    </ul>
  </nav>

  <nav class="projects__list">
    <ul>
      {% for project in site.data.projects %}
        <li class="projects__project">
          <a href="https://github.com/{{ project.repo }}"
             data-repo="{{ project.repo }}" target="_blank">
            <h4>
              <span data-owner>{{ project.repo | split: '/' | first }}</span>
              <span>/</span>
              <span data-name>{{ project.repo | split: '/' | last }}</span>
            </h4>

            <p data-description>{{ project.description }}</p>

            <ul class="projects__meta">
              <li class="projects__meta--language">
                <span class="projects__meta__icon">
                  {% include icons/dot.svg %}
                </span>
                <span class="screenreader-text">Language:</span>
                <span data-language>{{ project.language }}</span>
              </li>
              <li class="projects__meta--stars">
                <span class="projects__meta__icon">
                  {% include icons/star.svg %}
                </span>
                <span class="screenreader-text">Stars:</span>
                <span data-stars>{{ project.stars }}</span>
              </li>
              <li class="projects__meta--forks">
                <span class="projects__meta__icon">
                  {% include icons/fork.svg %}
                </span>
                <span class="screenreader-text">Forks:</span>
                <span data-forks>{{ project.forks }}</span>
              </li>
            </ul>
          </a>
        </li>
      {% endfor %}
    </ul>
  </nav>
</section>
