---
title: Case studies
description: In depth explorations into my design and development process, with examples of my best client work. Click here to read more.
layout: base
robots: noindex,follow
---

<section class="studies">
  {% assign studies = site.studies | sort: "order" %}
  {% for study in studies %}
    <article class="studies__item studies__item--{{ study.slug }}">
      <div class="studies__content">
        {% include study/icons.html slug=study.slug client=study.client showTitle=false link=false %}

        <h1 class="studies__title">{{ study.description }}</h1>

        <a href="{{ study.url }}"
            class="button button--bordered">
          <span class="button__text">Read the case study</span>
        </a>
      </div>

      <div class="studies__image">
        {% include icons/studies/{{ study.slug }}/icon.svg %}
        {% comment %}
          <img src="/img/studies/{{ study.slug }}/bg.png"
              alt="">
        {% endcomment %}
      </div>
    </article>
  {% endfor %}
</section>
