.page--error
  background: $color-black
  color: $color-white
  padding: 0

  main
    align-items: stretch
    display: flex
    flex-direction: column

    @media (min-width: 650px)
      flex-direction: row

  .page__wrapper,
  .page__listing
    flex: 0 0 50%
    padding: 6em 1.5em 0

  .page__wrapper

    @media (min-width: 42em)
      padding: 6em 3em 0 between(1.5em, 6em, 42em, 80em)

    @media (min-width: 80em)
      padding: 6em 3em 0 6em

  .page__listing
    align-items: flex-end
    display: flex
    padding: 1.5em 1.5em 0

    @media (min-width: 650px)
      padding-top: 21em 1.5em 0

    @media (min-width: 42em)
      padding: 21em between(1.5em, 6em, 42em, 80em) 0 3em

    @media (min-width: 80em)
      padding: 21em 6em 0 3em

    li
      list-style: circle outside
      margin: 0 0 #{$baseline / 2}

    a
      @extend h3
      +font-secondary

  .page__image
    flex: 0 0 50%

    @media (min-width: 650px)
      bottom: 0
      left: 50%
      position: fixed
      right: 0
      top: 0

    img
      display: block
      height: 100%
      object-fit: cover
      object-position: center
      width: 100%

.error
  padding: 6em 0 0

  &__code
    color: $color-red

  &__title
    +font-secondary

  .search__form
    margin-bottom: 3em

    @media (min-width: 42em)
      margin-bottom: 6em

    input
      border: 0