.projects
  padding: 6em 0

  &__filter
    margin-bottom: $baseline

    li
      display: inline-block
      list-style: none

    a
      margin-right: $baseline

      &.active
        color: $color-red
        font-weight: 600

  &__list
    > ul
      display: flex
      flex-wrap: wrap
      font-size: .875em
      justify-content: space-between
      list-style: none

  &__project
    border: 1px solid rgba($color-black, .1)
    box-sizing: border-box
    flex: 0 0 100%
    line-height: $baseline
    margin: 0 0 $baseline
    padding: .75em

    a
      display: flex
      flex-direction: column
      height: 100%

    svg
      path
        fill: $color-red

    &:hover
      background: $color-red
      border-color: $color-red

      a
        color: $color-white
        text-decoration: none

      svg
        path
          fill: $color-white

      .projects__meta__icon
        color: $color-white

    @media (min-width: 48em)
      flex: 0 0 calc(50% - #{(1 / 2) * $baseline})

    @media (min-width: 72em)
      flex: 0 0 calc(33.33333333% - #{(2 / 3) * $baseline})

    [data-description]
      height: #{$baseline * 2}

  &__meta
    align-items: center
    display: flex
    list-style: none
    margin: auto 0 0

    > li
      align-items: center
      display: flex
      font-feature-settings: "lnum"
      margin-right: $baseline

    &__icon
      color: $color-red
      margin-right: #{($baseline / 4)}

