.search
  padding: 6em 0 0

  &__form
    margin: 0 0 6em

  &__results
    list-style: none

    &:empty
      margin-top: -6em

  &__result
    margin: 0 0 3em

.tags
  padding: 6em 0
  
  &__list
    column-count: 4
    list-style: none