.page--study
  padding: 0

  .footer,
  .contact
    margin: 0

.studies
  margin: -6em -1.5em 0

  @media (min-width: 42em)
    margin: -6em between(-1.5em, -6em, 42em, 80em) 0

  @media (min-width: 80em)
    margin: -6em -6em 0

  &__item
    margin: 0

    .study__intro
      padding: 6em 1.5em
      position: relative

      @media (min-width: 42em)
        padding: 6em between(1.5em, 6em, 42em, 80em)

      @media (min-width: 80em)
        padding: 6em 6em

    .study__link
      margin: 1.5em 0 0

.study
  &__intro
    padding: 6em 1.5em 0
    position: relative

    @media (min-width: 42em)
      padding: 6em between(1.5em, 6em, 42em, 80em) 0

    @media (min-width: 80em)
      padding: 6em 6em 0

  &__icons
    margin: 0 0 $baseline
    text-decoration: none

    .logo
      height: $baseline

    .octicon--plus
      height: $baseline
      margin: 0 $baseline
      width: $baseline

      polygon
        fill: $color-white

  &__icon
    height: auto
    vertical-align: baseline
    width: #{1.5 * $baseline}

    &--1855
      transform: scale(1.25)
      transform-origin: center

    path
      fill: $color-white

  &__title
    color: $color-white
    margin: 12em 0 3em

    h1
      +script
      font-size: 23vw
      margin: 0
      text-align: left

  &__content
    max-width: 48em
    padding: 0 1.5em 6em

    @media (min-width: 42em)
      padding: 0 between(1.5em, 6em, 42em, 80em) 6em

    @media (min-width: 80em)
      padding: 0 6em 6em