<div class="ad-container">
  <a href="https://www.digitalocean.com/?refcode=256e9b3b9ff3" target="_blank">
    <img data-src="/assets/dist/img/ads/digital-ocean/logo-vertical.png"
         alt="Digitial Ocean. SSD Virtual Servers in 55 Seconds"
         data-screen-size="large" />
    <img data-src="/assets/dist/img/ads/digital-ocean/medium.jpg"
         alt="Digitial Ocean. SSD Virtual Servers in 55 Seconds"
         data-screen-size="medium" />
    <img data-src="/assets/dist/img/ads/digital-ocean/small.jpg"
         alt="Digitial Ocean. SSD Virtual Servers in 55 Seconds"
         data-screen-size="small" />
    <span>Get $10 Free Credit to spend at Digital Ocean when you sign up today.</span>
  </a>
</div>