<div class="ad-container">

  <!-- Media Temple -->
  <a href="http://www.tkqlhce.com/click-7484363-11654442" target="_top">
    <img data-src="//mediatemple.net/_img/affiliate/banners/250x250-grid-light.gif"
         alt="Media Temple. Your blog, portfolio or studio site belongs on the grid."
         data-screen-size="large" />
    <img data-src="//mediatemple.net/_img/affiliate/banners/728x90-grid-light.gif"
         alt="Media Temple. Your blog, portfolio or studio site belongs on the grid."
         data-screen-size="medium" />
    <img data-src="//mediatemple.net/_img/affiliate/banners/728x90-grid-light.gif"
         alt="Media Temple. Your blog, portfolio or studio site belongs on the grid."
         data-screen-size="small" />
  </a>

  <a href="http://www.jdoqocy.com/click-7484363-11654398" target="_top">
    <img data-src="//mediatemple.net/_img/affiliate/banners/250x250-mt-light.gif"
         alt="Media Temple. Powering designers and developers since 1998."
         data-screen-size="large" />
    <img data-src="//mediatemple.net/_img/affiliate/banners/728x90-light.gif"
         alt="Media Temple. Powering designers and developers since 1998."
         data-screen-size="medium" />
    <img data-src="//mediatemple.net/_img/affiliate/banners/728x90-light.gif"
         alt="Media Temple. Powering designers and developers since 1998."
         data-screen-size="small" />
  </a>

  <a href="http://www.kqzyfj.com/click-7484363-11654439" target="_top">
    <img data-src="//mediatemple.net/_img/affiliate/banners/dv/250x250-dv-light.gif"
         alt="Media Temple. Pro-level VPS hosting you'll never outgrow."
         data-screen-size="large" />
    <img data-src="//mediatemple.net/_img/affiliate/banners/dv/728x90-dv-light.gif"
         alt="Media Temple. Pro-level VPS hosting you'll never outgrow."
         data-screen-size="medium" />
    <img data-src="//mediatemple.net/_img/affiliate/banners/dv/728x90-dv-light.gif"
         alt="Media Temple. Pro-level VPS hosting you'll never outgrow."
         data-screen-size="small" />
  </a>

  <a href="http://www.dpbolvw.net/click-7484363-11689723" target="_top">
    <img data-src="//www.tqlkg.com/image-7484363-11689723"
         alt="Namecheap. The hassle-free way to register your domains. As low as $3.98 a year."
         data-screen-size="large" />
    <img data-src="//www.awltovhc.com/image-7484363-11429115"
         alt="Namecheap. The hassle-free way to register your domains. As low as $3.98 a year."
         data-screen-size="medium" />
    <img data-src="//www.awltovhc.com/image-7484363-11689754"
         alt="Namecheap. The hassle-free way to register your domains. As low as $3.98 a year."
         data-screen-size="small" />
  </a>
</div>