<article class="post"
         aria-labelledby="{{ include.post.title | slugify }}-title"
         {% if include.listing == 'true' %}itemprop="blogPost"{% endif %}
         itemscope
         itemtype="http://schema.org/BlogPosting"
         {% if include.listing == 'false' %}id="article"{% endif %}
         {% if include.listing == 'true' %}id="{{ include.post.title | slugify }}"{% endif %}>
    <link itemprop="mainEntityOfPage" href="{{ site.url }}{{ include.post.url | replace: 'index.html', '' }}" />
    {% if post.image %}
      <div itemprop="image" itemscope itemtype="http://schema.org/ImageObject">
        <link itemprop="url" href="{{ site.url }}{{ post.image.url }}" />
        <meta itemprop="representativeOfPage" content="true" />
        <meta itemprop="height" content="{{ post.image.height }}" />
        <meta itemprop="width" content="{{ post.image.width }}" />
      </div>
    {% else %}
      <div itemprop="image" itemscope itemtype="http://schema.org/ImageObject">
        <link itemprop="url" href="{{ site.url }}{{ site.logo }}" />
        <meta itemprop="representativeOfPage" content="false" />
        <meta itemprop="height" content="180" />
        <meta itemprop="width" content="180" />
      </div>
    {% endif %}
  <header class="post__header">
    {% if include.listing == 'true' %}
      <a href="{{ include.post.url }}"
         title="{{ include.post.title }}">
        <h1 itemprop="headline" id="{{ include.post.title | slugify }}-title">
          {{ include.post.title }}
        </h1>
      </a>
    {% else %}
      <h1 itemprop="headline" id="{{ include.post.title | slugify }}-title">
        {{ include.post.title }}
      </h1>
    {% endif %}
    <date itemprop="datePublished" content="{{ include.post.date | date_to_xmlschema }}">
      {{ include.post.date | date: '%A %d %B %Y' }}
    </date>
    <meta itemprop="dateModified" content="{{ include.post.date | date_to_xmlschema }}">
    <div itemprop="author" itemscope itemtype="http://schema.org/Person">
      <meta itemprop="name" content="{{ site.author }}" />
      <link itemprop="url" href="{{ site.url }}" />
    </div>
    <div itemprop="publisher" itemscope itemtype="http://schema.org/Organization">
      <meta itemprop="name" content="{{ site.name }}" />
      <link itemprop="url" href="{{ site.url }}" />
      <div itemprop="logo" itemscope itemtype="http://schema.org/ImageObject">
        <link itemprop="url" href="{{ site.url }}{{ site.logo }}" />
        <meta itemprop="representativeOfPage" content="false" />
        <meta itemprop="height" content="180" />
        <meta itemprop="width" content="180" />
      </div>
    </div>
  </header>

  <section itemprop="articleBody" class="post__content">
    {{ body }}
  </section>

  <footer class="post__share">
    <a href="http://twitter.com/share?text=I just read this article on molovo.co and you should too :: &url=https://molovo.co{{ include.post.url }}" title="Share on Twitter" target="_blank">
      {% include icons/twitter.svg %}
      Share on Twitter
    </a>
  </footer>
</article>
