<section class="contact" id="contact" data-turbolinks-permanent>
  <h3 class="contact__title">Let's talk</h3>

  <a href="mailto:hi@molovo.co" class="contact__email">hi@molovo.co</a>

  <nav class="contact__social">
    <a href="https://twitter.com/molovo"
       class="contact__social-link contact__social-link--twitter"
       title="Follow me on Twitter"
       target="_blank"
       rel="noopener">
      <div class="screenreader-text">@molovo</div>
      {% include icons/twitter.svg %}
    </a>
    <a href="https://github.com/molovo"
       class="contact__social-link contact__social-link--github"
       title="Follow me on Github"
       target="_blank"
       rel="noopener">
      <div class="screenreader-text">@molovo</div>
      {% include icons/github.svg %}
    </a>
    <a href="https://dribbble.com/molovo"
       class="contact__social-link contact__social-link--dribbble"
       title="Follow me on Dribbble"
       target="_blank"
       rel="noopener">
      <div class="screenreader-text">@molovo</div>
      {% include icons/dribbble.svg %}
    </a>
    <a href="https://refind.com/molovo?invite=4f3ff95358"
       class="contact__social-link contact__social-link--refind"
       title="Follow me on Refind"
       target="_blank"
       rel="noopener">
      <div class="screenreader-text">@molovo</div>
      {% include icons/refind.svg %}
    </a>
  </nav>
</section>