<section class="contact" id="contact" data-turbolinks-permanent>
  <a href="javascript:void('')"
     id="open-contact-form"
     class="contact__cta">
    <h3>Let's talk</h3>
  </a>

  <nav class="contact__social">
    <a href="https://twitter.com/molovo"
       class="contact__social-link contact__social-link--twitter"
       title="Follow me on Twitter"
       target="_blank"
       rel="noopener">
      <div class="screenreader-text">@molovo</div>
      {% include icons/twitter.svg %}
    </a>
    <a href="https://github.com/molovo"
       class="contact__social-link contact__social-link--github"
       title="Follow me on Github"
       target="_blank"
       rel="noopener">
      <div class="screenreader-text">@molovo</div>
      {% include icons/github.svg %}
    </a>
    <a href="https://dribbble.com/molovo"
       class="contact__social-link contact__social-link--dribbble"
       title="Follow me on Dribbble"
       target="_blank"
       rel="noopener">
      <div class="screenreader-text">@molovo</div>
      {% include icons/dribbble.svg %}
    </a>
    <a href="https://refind.com/molovo?invite=4f3ff95358"
       class="contact__social-link contact__social-link--refind"
       title="Follow me on Refind"
       target="_blank"
       rel="noopener">
      <div class="screenreader-text">@molovo</div>
      {% include icons/refind.svg %}
    </a>
  </nav>
</section>

<section class="contact__popup" id="contact-popup" data-turbolinks-permanent>
  <div class="contact__header">
    <a href="/"
      class="contact__home"
      aria-label="molovo">
      {% include icons/logo.svg %}
      <span class="screenreader-text">Home</span>
    </a>

    <a href="javascript:void('')"
      class="contact__close"
      id="contact-close">
      {% include icons/x.svg %}
      <span class="screenreader-text">Close Menu</span>
    </a>
  </div>

  <div class="contact__content">
    <h2 class="contact__title">
      Hey, good lookin&rsquo;<br />
      What would you like to talk about?
    </h2>

    <form class="contact__form form" name="contact" netlify netlify-honeypot="its-a-trap">
      <p class="form__description">
        If you&rsquo;d like to chat, send an email to <a href="mailto:hi@molovo.co">hi@molovo.co</a>, and I&rsquo;ll get back to you. If that doesn&rsquo;t tickle your fancy, you can get in touch with me on the following social networks
      </p>

      <nav class="contact__social">
        <a href="https://twitter.com/molovo"
          class="contact__social-link contact__social-link--twitter"
          title="Follow me on Twitter"
          target="_blank"
          rel="noopener">
          <div class="screenreader-text">@molovo</div>
          {% include icons/twitter.svg %}
        </a>
        <a href="https://github.com/molovo"
          class="contact__social-link contact__social-link--github"
          title="Follow me on Github"
          target="_blank"
          rel="noopener">
          <div class="screenreader-text">@molovo</div>
          {% include icons/github.svg %}
        </a>
        <a href="https://dribbble.com/molovo"
          class="contact__social-link contact__social-link--dribbble"
          title="Follow me on Dribbble"
          target="_blank"
          rel="noopener">
          <div class="screenreader-text">@molovo</div>
          {% include icons/dribbble.svg %}
        </a>
        <a href="https://refind.com/molovo?invite=4f3ff95358"
          class="contact__social-link contact__social-link--refind"
          title="Follow me on Refind"
          target="_blank"
          rel="noopener">
          <div class="screenreader-text">@molovo</div>
          {% include icons/refind.svg %}
        </a>
      </nav>
    </form>
  </div>
</section>