<section class="contact" id="contact">
  <a href="javascript:void('')"
     id="open-contact-form"
     class="contact__cta">
    <h3>Let's talk</h3>
  </a>

  <nav class="contact__social">
    <a href="https://twitter.com/molovo"
       class="contact__social-link contact__social-link--twitter"
       title="Follow me on Twitter"
       target="_blank"
       rel="noopener">
      <div class="screenreader-text">@molovo</div>
      {% include icons/twitter.svg %}
    </a>
    <a href="https://github.com/molovo"
       class="contact__social-link contact__social-link--github"
       title="Follow me on Github"
       target="_blank"
       rel="noopener">
      <div class="screenreader-text">@molovo</div>
      {% include icons/github.svg %}
    </a>
    <a href="https://dribbble.com/molovo"
       class="contact__social-link contact__social-link--dribbble"
       title="Follow me on Dribbble"
       target="_blank"
       rel="noopener">
      <div class="screenreader-text">@molovo</div>
      {% include icons/dribbble.svg %}
    </a>
    <a href="https://refind.com/molovo?invite=4f3ff95358"
       class="contact__social-link contact__social-link--refind"
       title="Follow me on Refind"
       target="_blank"
       rel="noopener">
      <div class="screenreader-text">@molovo</div>
      {% include icons/refind.svg %}
    </a>
  </nav>
</section>

<section class="contact__popup" id="contact-popup">
  <div class="contact__header">
    <a href="/"
      class="contact__home"
      aria-label="molovo">
      {% include icons/logo.svg %}
      <span class="screenreader-text">Home</span>
    </a>

    <a href="javascript:void('')"
      class="contact__close"
      id="contact-close">
      {% include icons/x.svg %}
      <span class="screenreader-text">Close Menu</span>
    </a>
  </div>

  <div class="contact__content">
    <h2 class="contact__title">
      Hey, good lookin'<br />
      What would you like to talk about?
    </h2>

    <form class="contact__form form" name="contact" netlify netlify-honeypot="its-a-trap">
      <p class="form__description">
        Just fill out the form below, and I'll get back to you as soon as possible.<br />
        Alternatively, you can contact me directly via email on <a href="mailto:hi@molovo.co">hi@molovo.co</a>.
      </p>

      <label for="name" class="form__label">
        <span class="form__label-text">Name</span>
        <input class="form__input" type="text" name="name" />
      </label>

      <label for="email" class="form__label">
        <span class="form__label-text">Email Address</span>
        <input class="form__input" type="email" name="email" />
      </label>

      <label for="message" class="form__label form__label--full-width">
        <span class="form__label-text">Message</span>
        <textarea class="form__input" name="message"></textarea>
      </label>

      <div class="form__group form__group--hidden">
        <input name="its-a-trap" />
      </div>

      <div class="form__buttons">
        <span>* Please, no recruiters.</span>
        <button>Send</button>
      </div>
    </form>
  </div>
</section>