<a href="#content"
   title="Skip to content"
   class="screenreader-text">
  Skip to content
</a>

<header class="header"
        id="top"
        data-turbolinks-permanent>
  <nav class="top-nav">
    <a href="/"
        aria-label="molovo">
      {% include icons/logo.svg %}
      <span class="screenreader-text">Home</span>
    </a>

    <span class="header__title"></span>

    <a href="javascript:void('')"
       class="nav-toggle"
       id="nav-toggle">
      <span class="screenreader-text">Menu</span>
      {% include icons/menu.svg %}
    </a>
  </nav>
</header>
