<header class="header"
        id="top"
        data-turbolinks-permanent>
  <nav class="top-nav">
    <a href="#menu">Menu</a>
  </nav>
</header>

<nav class="nav nav--main">
  <a href="#content"
     title="Skip to Content"
     class="screenreader-text">
    Skip to Content
  </a>

  <ul class="nav__menu">
    <li class="nav__item nav__item--home">
      <a href="/"
         aria-label="molovo">
        {% include icons/logo.svg %}
        <span class="screenreader-text">Home</span>
      </a>
    </li>

    <li class="nav__item">
      <a href="/projects/"
         class="nav__link">
        Projects
      </a>
    </li>

    <li class="nav__item">
      <a href="/writing/"
         class="nav__link">
        Writing
      </a>
    </li>

    <li class="screenreader-text">
      <a href="https://twitter.com/molovo">
        {% include icons/twitter.svg %}
        <span>Follow me on Twitter</span>
      </a>
    </li>
  </ul>
</nav>