<div class="header screenreader-text" id="top">
  <nav class="nav--main">
    <a href="#content" title="Skip to Content">Skip to Content</a>

    <ul>
      <li>
        <a href="/" aria-label="molovo">
          {% include icons/logo.svg %}
          Home
        </a>
      </li>

      <li>
        <a href="/projects">Projects</a>
      </li>

      <li>
        <a href="/writing">Writing</a>
      </li>

      <li class="footer--nav-link-twitter">
        <a href="https://twitter.com/molovo">
          {% include icons/twitter.svg %}
          <span>Follow me on Twitter</span>
        </a>
      </li>
    </ul>
  </nav>
</div>
