<nav class="nav nav--main" id="menu" data-turbolinks-permanent>
  <a href="/"
     class="nav__home"
     aria-label="molovo">
    {% include icons/logo.svg %}
    <span class="screenreader-text">Home</span>
  </a>

  <ul class="nav__menu">
    {% if site.environment != 'production' %}
    <li class="nav__item nav__item--case-studies">
      <a href="/studies/"
          class="nav__link">
        Case studies
      </a>
    </li>
    {% endif %}

    <li class="nav__item nav__item--open-source">
      <a href="/projects/"
          class="nav__link">
        Open source
      </a>
    </li>

    <li class="nav__item nav__item--writing">
      <a href="/writing/"
          class="nav__link">
        Writing
      </a>
    </li>

    <li class="nav__item nav__item--search">
      <a href="/search/"
          class="nav__link">
        Search
      </a>
    </li>
  </ul>

  <a href="javascript:void('')"
     class="nav__close"
     id="nav-close">
    {% include icons/x.svg %}
    <span class="screenreader-text">Close Menu</span>
  </a>
</nav>