<nav class="nav nav--main" id="menu" data-turbolinks-permanent>
  <a href="/"
     class="nav__home"
     aria-label="molovo">
    {% include icons/logo.svg %}
    <span class="screenreader-text">Home</span>
  </a>

  <div class="nav__container">
    <ul class="nav__menu">
      {% if site.environment != 'production' %}
      <li class="nav__item nav__item--case-studies">
        <a href="/studies/"
            class="nav__link">
          Case studies
        </a>
      </li>
      {% endif %}

      <li class="nav__item nav__item--open-source">
        <a href="/projects/"
            class="nav__link">
          Open source
        </a>
      </li>

      <li class="nav__item nav__item--writing">
        <a href="/writing/"
            class="nav__link">
          Writing
        </a>
      </li>

      <li class="nav__item nav__item--search">
        <a href="/search/"
            class="nav__link">
          Search
        </a>
      </li>
    </ul>

    {% if site.environment != 'production' %}
    <ul class="nav__studies">
      <li class="nav__studies-heading">
        <h6 class="nav__studies-title">Selected Case Studies</h6>
      </li>
      {% assign studies = site.studies | where: "featured", "true" | sort: 'order' | limit: 3 %}
      {% for study in studies %}
        <li class="nav__study-item nav__study-item--{{ study.slug }}">
          {% include study/icons.html slug=study.slug client=study.client showTitle=false link=false %}
          <a href="{{ study.url }}" class="nav__study-link">
            <h3 class="nav__study-title">{{ study.client }}</h3>
          </a>
        </li>
      {% endfor %}
    </ul>
    {% endif %}
  </div>

  <a href="javascript:void('')"
     class="nav__close"
     id="nav-close">
    {% include icons/x.svg %}
    <span class="screenreader-text">Close Menu</span>
  </a>
</nav>