$slug: 'haresfoot'
$background-color: #FFCA06
$heading-color: #B42C33
$subheading-color: white
$uses_kit: true

=typography-heading
  font-weight: 400
  letter-spacing: .025em
  font-family: 'Langdon'
  text-transform: uppercase
  color: white

=typography-subheading
  font-weight: 400
  letter-spacing: .025em
  font-family: 'Langdon'
  text-transform: uppercase
  color: white

=typography-body
  color: #FFFFFF
  font-family: 'Mission Gothic'

@import base