$slug: 'helen-starkie'
$background-color: #FFFFF8
$heading-color: #CBD09E
$subheading-color: #CBD09E

=typography-heading
  font-family: "freight-sans-pro"
  letter-spacing: 0
  color: #CBD09E

=typography-subheading
  color: inherit

=typography-body
  font-family: 'ff-tisa-web-pro'
  letter-spacing: 0
  color: #444444

@import base