$slug: 'love-coffee'
$background-color: #EF8019
$heading-color: #057281
$subheading-color: #057281
$uses_kit: true

=typography-heading
  font-weight: 300
  font-family: "Avant Garde"
  text-transform: uppercase
  color: #FFFFFF

=typography-subheading

=typography-body
  color: #FFFFFF
  font-family: 'Georgia'

@import base