$red: #bf616a
$black: #1c1f26
$almostBlack: #2b303b
$green: #a3be8c
$blue: #58add8
$white: #fff
$gray: #e8e8e9
$grayTwo: #b5b5b6
$transparentWhite: rgba($white, 0)

$shadow: 0 3px 15px rgba($almostBlack, .1)
