$red: #f9415d
$redTwo: #c6344a
$black: #0c1821
$almostBlack: #0c1821
$green: #a3be8c
$blue: #2093C6
$white: #fff
$gray: rgba($black, .05)
$transparentWhite: rgba($white, 0)

$shadow: 0 3px 15px rgba($almostBlack, .1)

$twitterBlue: #1da1f2
$facebookBlue: #3b5998
$githubPurple: #6e5494
$dribbblePink: #ea4c89