input,
textarea,
select
  appearance: none
  border: 1px solid $color-gray
  font: 400 1em #{'/'} $baseline $font-primary
  line-height: $baseline
  padding: #{$baseline / 2} $baseline #{$baseline / 2}
  width: 100%