.image
  align-items: flex-start
  display: flex
  flex-wrap: wrap
  margin: 0 0 $baseline
  position: relative

  .post__content &
    font-size: #{(1/1.125) * 1em}

  > img,
  > picture,
  > svg
    display: block
    flex: 0 0 100%
    height: auto
    margin-bottom: 0
    width: 100%

    &:first-of-type:nth-last-of-type(2n),
    &:first-of-type:nth-last-of-type(2n) ~ img,
    &:first-of-type:nth-last-of-type(2n) ~ picture,
    &:first-of-type:nth-last-of-type(2n) ~ svg
      @media (min-width: 42em)
        flex: 0 0 50%

    &:first-of-type:nth-last-of-type(3n),
    &:first-of-type:nth-last-of-type(3n) ~ img,
    &:first-of-type:nth-last-of-type(3n) ~ picture,
    &:first-of-type:nth-last-of-type(3n) ~ svg
      @media (min-width: 42em)
        flex: 0 0 33.3333%

  &--pull-left
    margin-left: -1.5em
    width: calc(100% + 1.5em)

    @media (min-width: 42em)
      $slope: (6em - 1.5em) / (80em - 42em)
      $base: 1.5em - $slope * 42em

      margin-left: between(-1.5em, -6em, 42em, 80em)
      width: calc(100% + (#{$base} + #{100vw * $slope}))

    @media (min-width: 80em)
      margin-left: -6em
      width: calc(100% + 6em)

  &--full-width
    margin-left: -1.5em
    position: relative
    width: 100vw
    z-index: 9999

    @media (min-width: 64em)
      &::after,
      &::before
        content: ''
        display: inline-block
        height: 9em
        left: between(39em, 43.5em, 42em, 80em)
        right: 0
        position: absolute

      &::before
        background: linear-gradient(to bottom, rgba($color-white, 0), $color-white 66.66%, $color-white)
        bottom: 100%

      &::after
        background: linear-gradient(to top, rgba($color-white, 0), $color-white 66.66%, $color-white)
        top: calc(100% - 3.15em)

    .image__caption
      margin-left: 1.5em
      margin-top: $baseline
      position: static

      &::after,
      &::before
        content: none

    @media (min-width: 42em)
      $slope: (6em - 1.5em) / (80em - 42em)
      $base: 1.5em - $slope * 42em

      margin-left: between(-1.5em, -6em, 42em, 80em)
      width: 100vw

      .image__caption
        margin-left: between(1.5em, 6em, 42em, 80em)

    @media (min-width: 80em)
      margin-left: -6em

      .image__caption
        margin-left: 6em

  &__caption
    flex: 0 0 100%
    font-family: $font-cursive
    font-style: italic
    margin-top: $baseline

    @media(min-width: 64em)
      background: $color-white
      left: 100%
      margin-left: $baseline
      margin-top: 0
      position: absolute
      top: 0
      width: 9em
      z-index: 1001

      &::before,
      &::after
        content: ''
        display: inline-block
        height: 6em
        left: 0
        position: absolute
        width: 200%

      &::before
        background: linear-gradient(to bottom, rgba($color-white, 0), $color-white 66.66%, $color-white)
        bottom: 100%

      &::after
        background: linear-gradient(to top, rgba($color-white, 0), $color-white 66.66%, $color-white)
        top: 100%

    @media (min-width: 80em)
      width: 15em

picture
  > source,
  > img
    width: 100%