body
  background: $color-white
  padding: 6em 1.5em 0

  @media (min-width: 42em)
    padding: 6em scale(1.5em, 6em, 42em, 80em) 0

  @media (min-width: 80em)
    padding: 6em 6em 0

.turbolinks-progress-bar
  height: 5px
  background-color: $color-red
