html,
body
  position: relative
  width: 100%

  @media (max-width: 42em)
    overflow-x: hidden

  &.menu-open
    overflow-y: hidden !important

body
  background: $color-white
  padding: 6em 1.5em 0

  @media (min-width: 42em)
    padding: 6em between(1.5em, 6em, 42em, 80em) 0

  @media (min-width: 80em)
    padding: 6em 6em 0

.turbolinks-progress-bar
  height: 5px
  background-color: $color-red

%script-background
  &::after
    +script
    bottom: -.25em
    color: lighten($color-black, 2%)
    content: 'Made in Southsea'
    left: 50%
    pointer-events: none
    position: absolute
    transform: translateX(-51.5%)
    white-space: nowrap
    z-index: 1
