$eighteenfiftyfive-red: #AA314E
$eighteenfiftyfive-blue: #113245
$eighteenfiftyfive-white: #FFFFFF
$eighteenfiftyfive-black: #000000

.page--1855
  background: $eighteenfiftyfive-red url('/img/studies/1855/bg.jpg') center / cover no-repeat

.study__link--1855
  &:hover
    .study__icon
      path
        fill: $eighteenfiftyfive-red