$hfYellow: #ffc930
$hfOrange: #eba721
$hfOrange2: #f3813b
$hfOrange3: #d96332
$hfRed: #b22e37
$hfWhite: #fff
$hfTransparentOrange: rgba($hfOrange3, 0)
$hfTransparentOrange2: rgba($hfOrange3, .3)

.study__section
  &--haresfoot
    background: $hfWhite

    .study__title
      color: $hfOrange2

    .study__icons
      +studyIcons
        fill: $hfOrange2

    &.study__section--intro
      background: $hfOrange3

      .study__intro
        background-color: $hfOrange3
        background-image: linear-gradient(to bottom, $hfTransparentOrange 0%, $hfTransparentOrange 75%, $hfOrange3 100%), url('/img/studies/haresfoot/mobile-bg.png')
        background-position: center
        background-size: cover

        @media (min-width: 42em)
          background-image: linear-gradient(to bottom, $hfTransparentOrange 0%, $hfTransparentOrange2 75%, $hfOrange3 100%), url('/img/studies/haresfoot/bg.png')

      .study__title,
      .study__content,
      .study__client
        color: $white

      .study__link
        background: $hfRed
        border-color: $hfRed
        color: $hfWhite

      .study__icons
        +studyIcons
          fill: $white

      .image--full-width
        @media (min-width: 42em)
          &::before
            background: linear-gradient(to bottom, $hfTransparentOrange, $hfOrange3 66.66%, $hfOrange3)

          &::after
            background: linear-gradient(to top, $hfTransparentOrange, $hfOrange3 66.66%, $hfOrange3)

      .image__caption
        @media (min-width: 64em)
          background: $hfOrange3

          &::before
            background: linear-gradient(to bottom, $hfTransparentOrange, $hfOrange3 66.66%, $hfOrange3)

          &::after
            background: linear-gradient(to top, $hfTransparentOrange, $hfOrange3 66.66%, $hfOrange3)

      .social
        &__link
          path
            stroke: $white

        &__likes
          color: $white

    &.study__section--website
      background: $hfYellow
      color: $black

      .study__title
        color: $hfRed

      .study__icons
        +studyIcons
          fill: $hfRed

.studies__item--haresfoot
  .studies__image
    path
      fill: $hfOrange2

  .studies--cta &
    background: $hfOrange3 url('/img/studies/haresfoot/bg.png') center / cover no-repeat

    .studies__image
      path
        fill: $hfWhite

    .study__icons
      +studyIcons
        fill: $hfWhite

    .studies__title,
    .button
      color: $hfWhite

    .button
      &::after
        background-color: $hfRed
