$lovecoffee-white: #ffffff
$lovecoffee-blue: #057281
$lovecoffee-orange: #ef8019
$lovecoffee-brown: #52302c

.study__section
  &--love-coffee
    background: $color-white

    .study__title
      color: $lovecoffee-blue

    .study__icons
      .logo--frame,
      .octicon--plus polygon,
      .study__icon path
        fill: $lovecoffee-blue

    &.study__section--intro
      background: $lovecoffee-white

      .study__intro
        background-color: $lovecoffee-white
        background-image: linear-gradient(to bottom, rgba($lovecoffee-white, 0) 0%, $lovecoffee-white 75%, $lovecoffee-white 100%), url('/img/studies/love-coffee/bg.jpg')
        background-position: center
        background-size: cover

      .study__title,
      .study__content
        color: $color-almost-black

      .study__link
        background: $lovecoffee-blue
        border-color: $lovecoffee-blue
        color: $lovecoffee-white

      .study__icons
        .logo--frame,
        .octicon--plus polygon,
        .study__icon path
          fill: $color-white