{% if page.title %}
  {% capture title %}{{ page.title}} | {{ site.title}}{% endcapture %}
{% else %}
  {% assign title = site.title %}
{% endif %}

{% if page.description %}
  {% assign description = page.description %}
{% elsif page.excerpt %}
  {% capture description %}{{ page.excerpt | strip_html }}{% endcapture %}
{% else %}
  {% assign description = site.description %}
{% endif %}

<!DOCTYPE html>
<html lang="en-GB" prefix="og: http://ogp.me/ns#">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
  <meta name="msvalidate.01" content="1CA4D3771537532449A3A5BA08271280" />

  {% include head/preload.html %}
  {% include head/fonts.html %}
  {% include head/styles.html %}
  {% include head/meta.html %}
  {% webmentions_head %}
  {% include head/favicons.html %}
  {% include head/links.html %}
  {% include head/scripts.html %}
</head>
<body class="page page--{{ page.layout }} {% if page.slug %}page--{{ page.slug }}{% endif %}">
  {% include header.html %}
  {% include nav.html %}

  <main class="content" id="content" role="main">
    {{ content }}
  </main>

  {% if page.layout != 'error' %}
    {% include contact.html %}
    {% include footer.html %}
  {% endif %}

  {% include schema.html %}
  {% include page-schema.html %}
</body>
</html>
