---
layout: base
---

<section class="intro">
  <a href="/" aria-label="molovo">
    {% include icons/logo.svg %}
  </a>

  {{ content }}
</section>

<!-- <section class="studies">
  <ul class="studies__list">
    {% for study in site.studies %}
      <li>
        <article class="studies__item study"
                 aria-labelledby="{{ study.slug }}">
          <a href="{{ study.url }}">
            <div class="intro">
              {% include icons/logo.svg %}
              +
              {% include icons/studies/{{ study.slug }}.svg %}
            </div>
            <h2 id="{{ study.slug }}">{{ study.client }}</h2>
          </a>
        </article>
      </li>
      <h1>{{ study.client }}</h1>
    {% endfor %}
  </ul>
</section> -->