---
layout: page
pagination:
  enabled: true
---

{% assign body = content %}
{% include article.html post=page listing="false" %}

{% if page.collection == 'posts' %}
  <!-- Pagination links -->
  <nav class="posts__pagination">
    <ul>
      <li>
        {% if page.previous.url %}
          <a href="{{ page.previous.url }}" class="posts__pagination__previous"><span class="screenreader-text">Previous Article: </span>{{ page.previous.title }}</a>
        {% endif %}
      </li>

      <li>
      </li>

      <li>
        {% if page.next.url %}
          <a href="{{ page.next.url }}" class="posts__pagination__next"><span class="screenreader-text">Next Article: </span>{{ page.next.title }}</a>
        {% endif %}
      </li>
    </ul>
  </div>
{% endif %}
