.home-icon
  &, &:hover
    text-decoration: none

.logo
  width: #{$baseline * 1.5}

  &--frame,
  &--lens
    transition: fill .25s

  &--frame
    fill: $red

  &:hover
    .logo--frame
      fill: $black

  &--lens
    fill: transparent

  .page--study &,
  .header--sticky &,
  .nav &
    &--frame
      fill: $white

    &:hover
      .logo--frame
        fill: $white

      .logo--lens-left
        fill: transparentize($blue, .3)

      .logo--lens-right
        fill: transparentize($black, .7)
