.contact
  background: $color-black
  color: $color-white
  margin: 0 -6em
  padding: 6em 6em 0
  position: relative
  z-index: 1

  &__email
    color: $color-red
    font-family: $font-cursive
    font-size: 3em

    @media (min-width: 42em)
      font-size: 4.5em